.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    background-color: gainsboro;
    padding: 30px 60px;
}

.header, .footer {
    flex-shrink: 0;
    background-color: dimgray;
    padding: 20px;
    text-align: center;
    color: white;
}