.container {
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.demo {
    display: inline-block;
    margin: 0 auto;
}

.btn {
    font-size: 40px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 10px 20px;
    position: relative;
}

.dropdown {
    background-color: silver;
    width: 100%;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
}

.dropdown-item {
    font-size: 35px;
    padding: 5px 20px;
}

.btn:hover .dropdown {
    display: block;
}