.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.accordion {
    margin: 0 auto;
    width: 400px;
    max-height: 400px;
    background-color: #F4F4F4;
}

.content {
    font-size: 24px;
    padding: 10px;
    display: none;
}

.header {
    background-color: silver;
    font-size: 32px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

input[type=checkbox]:checked + .content {
    display: block;
}

.hidden {
    display: none;
}