.container {
    background-color: #415C48;
    padding-top: 50px;
    padding-bottom: 50px;
}

.item-card {
    width: 800px;
    background-color: #FFFFFF;
    margin: 20px auto;
    border-radius: 10px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    background-color: #EBF0EE;
    border-radius: 10px;

}

.item-header img {
    margin: 10px 30px;
}

.item-header a {
    font-size: 24px;
    margin: 0 20px;
    align-self: center;
    text-decoration: none;
    color: #415C48;
}

.item-main {
    display: flex;
    padding: 30px;
}

.item-main img {
    margin-right: 20px;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-content h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
}

.text-content p {
    font-size: 18px;
    line-height: 1.3em;
}

.share-link {
    display: flex;
    justify-content: flex-start;
}

.share-link a {
    font-size: 24px;
    color: #415C48;
    margin-right: 10px;
}