<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>六角vue夏令營-week1</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
</head>

<body>
<div id="app">
    <div class="container">
        <div class="my-3">
            <button
                    type="button"
                    class="btn btn-outline-primary"
                    @click="changePhotoSize()"
            >
                切換大頭貼解析度
            </button>
            現在圖片解析度：
            <span>{{ getUserPhotoSizeShow() }}</span>
        </div>
        <div class="row">
            <div v-for="user in users" class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="position-absolute" style="top: 20px; right: 20px">
                        <button
                                type="button"
                                class="btn btn-outline-danger rounded-pill"
                        >
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                    </div>
                    <img
                            :src="getUserPhoto(user)"
                            class="card-img-top"
                            :alt="getUserNameShow(user.name)"/>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ getUserNameShow(user.name) }}( <span v-if="user.gender === 'male'">👨</span> <span
                                v-else>👩</span>)
                        </h5>
                        <p class="card-text">
                            Email：<a :href="`mailto:${user.email}`"
                        >{{ user.email }}</a
                        >
                        </p>
                        <p class="card-text">
                            Phone: <a :href="`tel:${user.phone}`">{{ user.phone }}</a>
                        </p>
                        <p class="card-text">
                            Cell: <a :href="`tel:${user.cell}`">{{ user.cell }}</a>
                        </p>
                        <p class="card-text">City: {{ user.location.city }}</p>
                        <p class="card-text">State: {{ user.location.state }}</p>
                        <p class="card-text">Country: {{ user.location.country }}</p>
                        <p class="card-text">Postcode: {{ user.location.postcode}}</p>
                        <p class="card-text">
                            <small class="text-muted"
                            >dob：{{ getDateTimesShow(user.dob.date) }}</small
                            >
                        </p>
                        <p class="card-text">
                            <small class="text-muted"
                            >registered：{{ getDateTimesShow(user.registered.date) }}</small
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"
></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="data.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                users: [],
                photo_status: true,
            };
        },
        methods: {
            getUserNameShow(name) {
                return name.title + " " + name.first + " " + name.last;
            },
            getDateTimesShow(originalDate) {
                const targetDate = new Date(originalDate);
                return targetDate.toISOString().split('T')[0];
            },
            getUserPhoto(user) {
                switch (this.photo_status) {
                    case "large":
                        return user.picture.large;
                    case "medium":
                        return user.picture.medium;
                    case "thumbnail":
                        return user.picture.thumbnail;
                }
            },
            getUserPhotoSizeShow() {
                switch (this.photo_status) {
                    case "large":
                        return '清晰'
                    case "medium":
                        return '中等';
                    case "thumbnail":
                        return '模糊';
                }
            },
            changePhotoSize() {
                switch (this.photo_status) {
                    case "large":
                        this.photo_status = 'medium';
                        break;
                    case "medium":
                        this.photo_status = 'thumbnail';
                        break;
                    case "thumbnail":
                        this.photo_status = 'large';
                        break;
                }
            }
        },
        created() {
            this.users = results;
            this.photo_status = 'large';
        }
    }).mount('#app');
</script>
</body>
</html>
