/*Common start*/

.section {
    margin: 50px 0;
    width: 95%;
}

.container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/*Common end*/

/*Banner start*/

.banner {
    /*background: url("https://picsum.photos/4096/2160");*/
    /*background: url("../img/desktop-banner.jpg");*/
    /*background: url("../img/DSC_0899-1.jpg");*/
    background: url("../img/0-banner.jpg");
    /*background: url("../img/DSC_0664-1.jpg");*/
    background-position: 0 -150px;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-attachment: fixed;*/
}

.banner-title {
    /*width: 50%;*/
    /*height: 30%;*/
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    line-height: 1.5em;
    text-align: center;
    font-size: 40px;
    padding: 50px 150px;
}

/*Banner end*/


/*Story Common start*/

.story-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.story {
    display: flex;
    /*justify-content: space-evenly;*/
    justify-content: space-between;
    margin: 25px 0;
}

.story-photo {
    margin: 20px;
    /*margin: 20px 200px;*/
    max-width: 600px;
    /*opacity: 0;*/
    /*transition: 1s;*/
}

.story-photo-column {
    max-width: 400px;
}

.story-photo-row {
    max-width: 600px;

}

/*Story Common end*/

/*First Story start*/

.first-story {
    flex-direction: row;
}

.first-story-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 750px;
    opacity: 1;
}

.first-story-top-layer-photo {
    margin-top: -150px;
    margin-left: 100px;
    transition: 1.5s;
    opacity: 1;

}

.first-story-lower-layer-photo {
    transition: 1s;
    opacity: 1;
}

.first-story-top-photo-fade-out {
    margin-top: -300px;
    margin-left: 100px;
    opacity: 0;
    transition: 1.5s;
}

.first-story-lower-photo-fade-out {
    opacity: 0;
    transition: 1s;
}

.first-story-content {
    line-height: 1.5em;
    margin: 20px;
    max-width: 600px;
    transition: 1.3s;
    opacity: 1;

}

.first-story-content-fade-out {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    transition: 1.3s;
    opacity: 0;

}

/*First Story end*/

/*Second Story start*/
.second-story {
    flex-direction: row-reverse;
}

.second-story-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 560px;
}

.second-story-top-layer-photo {
    margin-top: -500px;
    margin-left: 450px;
    transition: 1.5s;
    opacity: 1;

}

.second-story-lower-layer-photo {
    transition: 1s;
    opacity: 1;
}

.second-story-top-photo-fade-out {
    /*margin-top: -500px;*/
    /*margin-right: -300px;*/
    margin-top: -500px;
    margin-left: 450px;
    opacity: 0;
    transition: 1.5s;
}

.second-story-lower-photo-fade-out {
    opacity: 0;
    transition: 1s;
    margin-bottom: -200px;
}

.second-story-content {
    line-height: 1.5em;
    margin: 20px;
    max-width: 600px;
    transition: 1.3s;
    opacity: 1;

}

.second-story-content-fade-out {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 150px;
    transition: 1.3s;
    opacity: 0;
}

/*Second Story end*/

/*Third Story start*/

.third-story-photo-left {
    max-width: 30%;
    transition: 2s;
    opacity: 1;
    position: relative;
    left: 0;
}

.third-story-photo-center {
    max-width: 30%;
    transition: 1s;
    opacity: 1;
}

.third-story-photo-right {
    max-width: 30%;
    transition: 3s;
    opacity: 1;
    position: relative;
    right: 0;
}

.third-story-photo-left-fade-out {
    position: relative;
    left: 35%;
    opacity: 0;
    transition: 2s;

}

.third-story-photo-center-fade-out {
    opacity: 0;
    transition: 1s;

}

.third-story-photo-right-fade-out {
    opacity: 0;
    position: relative;
    right: 35%;
    transition: 3s;

}

/*Third Story end*/

/*Fourth Story start*/

.fourth-story-item {
    max-width: 30%;
}

.fourth-story-content {
    display: block;
    opacity: 1;
    transition: 1s;
    line-height: 1.5em;
    /*margin: 20px;*/
}

.fourth-story-content-fade-out {
    opacity: 0;
    transition: 1s;

}

/*Fourth Story end*/

/*Let the Story Tell start*/

.let-the-story-tell {
    background: url("../img/5-let-the-story-tell.jpg");
    /*background: url("../img/DSC_0664-1.jpg");*/
    /*background-position:0 -150px ;*/
    background-size: cover;
    width: 100%;
    height: 100vh;
    /*height: 1000px;*/
    position: relative;
}

.let-the-story-tell-content {
    display: block;
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 1;
    font-size: 24px;
    line-height: 1.5em;
    padding: 20px;

    background: hsla(0, 0%, 100%, .1);
    overflow: hidden;
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    /*text-shadow: 0 1px 1px hsla(0,0%,100%,.3);*/
}

.let-the-story-tell-content:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(10px);
    z-index: -1;
    margin: -10px;
}

/*Let the Story Tell end*/

/*Action start*/

.action-title {
    width: 100%;
    margin: 50px 0;
}

.action-title h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.action-title h3 {
    text-align: center;

    font-size: 28px;
    line-height: 1.5em;
}

.action-title-division {
    margin-bottom: 50px;
}

.our-story-title {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}

/*Action end*/

/*Count Down start*/

.countdown {
    background: url("../img/6-countdown.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-panel {
    max-width: 1024px;
    justify-content: space-evenly;
    margin: 0 auto;
    display: flex;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
}

.countdown-number {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #3D1101;
    font-size: 32px;
    margin-bottom: 20px;
}

.countdown-unit {
    color: #FFFFFF;
    font-size: 32px;
}

/*Count Down end*/

/*Action Info start*/

.action-info {
    margin: 50px auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
}

.datetime-info {
    display: flex;
    flex-direction: column;
    /*padding: 30px 0;*/
    margin-left: 50px;
}

.datetime-info-group {
    margin-bottom: 30px;
}

.datetime-info-group h2, .datetime-info-group h3 {
    line-height: 1.3em;
}

.datetime-info-group h2 {
    font-size: 24px;
}

.datetime-info-group h3 {
    font-size: 32px;
}

/*Action Info end*/