@media (max-width: 767px) {
    .register-main {
        padding: 15px;
        display: flex;
        flex-direction: column-reverse;
    }

    .register-btn {
        width: 90%;
    }

    .register-panel {
        max-width: 90%
    }
}
