
.container .side-bar ul {
  width: 100%;
}

.level1 {
  background-color: darkgrey;
  position: absolute;
  left: -1000%;
  top: 150px;
  padding-left: 20px;
}

.level0:hover {
  .level1 {
    left: 100%;
  }
}

.level2 {
  background-color: darkgrey;
  position: absolute;
  left: -1000%;
  top: 50px;
  padding-left: 20px;
}

.switch-level2:hover {
  .level2 {
    left: 100%;
  }
}
