.container {
  width: 80%;
  margin: 30px auto;

  h1 {
    font-size: 150px;
    font-weight: bold;
    color: #aaaaaa;
    position: relative;
    padding-left: 50px;
    z-index: 1;
  }

  h1:after {
    z-index: -1;
    content: '';
    width: 1300px;
    height: 100px;
    background-color: rgba(220, 220, 220, 0.3);
    position: absolute;
    top: 30px;
    left: 50px;
    display: block;
  }

  .text {
    column-count: 2;
    margin-top: 30px;

    p:first-letter {
      font-size: 32px;

    }
  }
}
