$main_deep_gray: #424242;
$secondary_yellow: #FFD366;

$bmi_ok: #86D73F;
$bmi_too_light: #31BAF9;
$bmi_heavy_level_1: #FF982D;
$bmi_heavy_level_2: #FF6C03;
$bmi_heavy_level_3: #FF6C03;
$bmi_heavy_level_4: #FF1200;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .input-area {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $main_deep_gray;
    padding: 90px 0;

    img {
      margin-right: 80px;
      align-self: center;
    }

    form {
      display: flex;
      justify-content: flex-start;

      .input-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .form-group {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-bottom: 20px;

          label {
            font-size: 18px;
            color: $secondary_yellow;
            margin-bottom: 5px;
          }

          input {
            text-indent: 10px;
            width: 250px;
            height: 40px;
            border-radius: 10px;
            border: $secondary_yellow 2px solid;
            background-color: #707070;
            color: #FFFFFF;

            &::placeholder {
              color: #FFFFFF;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }

      button {
        align-self: center;
        margin-left: 80px;
        background-color: $secondary_yellow;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        font-size: 24px;
        color: $main_deep_gray;
      }

      .result-show {
        margin-left: 50px;

        position: relative;

        align-self: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .bmi-result-value {
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background-color: transparent;
          font-size: 32px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          .bmi-result-title {
            font-size: 14px;
          }

          .restart {
            border: $main_deep_gray 3px solid;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 80px;
            bottom: 0;
            cursor: pointer;

            img {
              width: 15px;
              height: 15px;
              margin: auto;
            }
          }
        }

        .bmi-result-level {
          font-size: 32px;
          margin-left: 18px;
        }
      }
    }
  }

  .result-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F5F5F5;
    width: 100%;

    .result-header {
      font-size: 24px;
      text-align: center;
      color: $main_deep_gray;
      margin-top: 48px;
      margin-bottom: 36px;
    }

    .result-panel {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 auto 60px;

      .result-item {
        font-size: 12px;
        width: 600px;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin-bottom: 16px;

        .result-data, .item-title {
          font-size: 20px;
        }
      }
    }
  }

  .footer {
    background-color: $main_deep_gray;
    width: 100%;

    img {
      display: block;
      width: 55px;
      height: 55px;
      margin: 16px auto;
    }
  }
}

.display-none {
  display: none;
}

.bmi-ok {
  border-left: $bmi_ok 7px solid;
}

.bmi-too-light {
  border-left: $bmi_too_light 7px solid;

}

.bmi-heavy-level-1 {
  border-left: $bmi_heavy_level_1 7px solid;
}

.bmi-heavy-level-2 {
  border-left: $bmi_heavy_level_2 7px solid;
}

.bmi-heavy-level-3 {
  border-left: $bmi_heavy_level_3 7px solid;
}

.bmi-heavy-level-4 {
  border-left: $bmi_heavy_level_4 7px solid;
}

.result-too-light-circle {
  color: $bmi_too_light;
  border: $bmi_too_light 6px solid;
}

.too-light-restart {
  background-color: $bmi_too_light;
}

.too-light-font-color {
  color: $bmi_too_light;
}

.result-ok-circle {
  color: $bmi_ok;
  border: $bmi_ok 6px solid;
}

.ok-restart {
  background-color: $bmi_ok;
}

.ok-font-color {
  color: $bmi_ok;
}

.result-heavy-level-1-circle {
  color: $bmi_heavy_level_1;
  border: $bmi_heavy_level_1 6px solid;
}

.heavy-level-1-restart {
  background-color: $bmi_heavy_level_1;
}

.font-heavy-level-1-color {
  color: $bmi_heavy_level_1;
}

.result-heavy-level-2-circle {
  color: $bmi_heavy_level_2;
  border: $bmi_heavy_level_2 6px solid;
}

.heavy-level-2-restart {
  background-color: $bmi_heavy_level_2;
}

.font-heavy-level-2-color {
  color: $bmi_heavy_level_2;
}

.result-heavy-level-3-circle {
  color: $bmi_heavy_level_3;
  border: $bmi_heavy_level_3 6px solid;
}

.heavy-level-3-restart {
  background-color: $bmi_heavy_level_3;
}

.font-heavy-level-3-color {
  color: $bmi_heavy_level_3;
}

.result-heavy-level-4-circle {
  color: $bmi_heavy_level_4;
  border: $bmi_heavy_level_4 6px solid;
}

.heavy-level-4-restart {
  background-color: $bmi_heavy_level_4;
}

.font-heavy-level-4-color {
  color: $bmi_heavy_level_4;
}
